<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Database Info</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<h2>Direct Message History</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">DM Sender</th>
        <th scope="col">Text</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dm: ${dms}">
        <th scope="row" th:text="${dm.getSenderTwitterId()}"></th>
        <td th:text="${dm.getDirectMessage().getText()}"></td>
    </tr>
    </tbody>
</table>

<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>